<h2>お気に入り一覧</h2>

<div>
	<table class="table">
		<thead>
			<tr>
				<th>カテゴリー</th>
				<th>タイトル</th>
				<th>件名</th>
				<th>投稿者</th>
				<th>お気に入り解除</th>
			</tr>
		</thead>
		<% @favorites.each do |favorite| %>
		<tbody>
			<tr>
				<% if favorite.post.type == "Book" %>
				<td><span class="label label-primary"><%=favorite.post.category.category %></span></td>
				<td><%= link_to "#{favorite.post.title}", book_path(favorite.post.id) %></td>
				<td><%= link_to "#{favorite.post.subject}", book_path(favorite.post.id) %></td>
				<td><%= link_to "#{favorite.post.user.name}", user_path(favorite.post.user.id) %></td>
				<td><%= link_to index_destroy_book_favorites_path(favorite.post.id), method: :delete do %>
					<i class="glyphicon glyphicon-star" aria-hidden="true"></i>
					<% end %>
				</td>
				<% else %>
				<td><span class="label label-primary"><%=favorite.post.category.category %></span></td>
				<td><%= link_to "#{favorite.post.title}", movie_path(favorite.post.id) %></td>
				<td><%= link_to "#{favorite.post.subject}", movie_path(favorite.post.id) %></td>
				<td><%= link_to "#{favorite.post.user.name}", user_path(favorite.post.user.id) %></td>
				<td><%= link_to index_destroy_movie_favorites_path(favorite.post.id), method: :delete do %>
					<i class="glyphicon glyphicon-star" aria-hidden="true"></i>
					<% end %>
				</td>
				<% end %>
			</tr>
		</tbody>
		<% end %>
	</table>
</div>

<%= paginate @favorites %>
