<div class="pull-right sort_box">
  <%= form_with url: movies_path, method: :get, local: true do |f| %>
   <%= f.select :sort, [ ['並び替え', ''],
   						 ['投稿が新しい順', 'new'],
   						 ['投稿が古い順','old'],
   						 ['お気に入りが多い順', 'favorite'],
   						 ['評価が高い順', 'high_rating'],
   						 ['評価が低い順', 'low_rating'],
   					   ],
   					   {},class: "form-control", style: "width: 200px;",
   					   onchange: "$(this).closest('form').submit() " %>
  <% end %>
 </div>

<table class="table">
	<thead>
		<tr>
			<th>投稿者</th>
			<th>作品名</th>
			<th>件名</th>
			<th>投稿日時</th>
			<th>お気に入り数</th>
		</tr>
	</thead>
	<% @movies.each do |movie| %>
	<tbody>
		<tr>
			<td><%= link_to user_path(movie.user_id) do %>
				<%= attachment_image_tag movie.user, :profile_image, :fill, 40, 40, format: 'jpeg',fallback:"no_image.jpg",size:'40x40' %><br>
				<%= movie.user.name %>
				<% end %>
			</td>
			<td><%= movie.title %></td>
			<td><%= movie.subject %></td>
			<td><%= movie.created_at.to_s(:datetime_jp) %></td>
			<td><%= movie.favorites.count%></td>
			<td><%= link_to "詳細", movie_path(movie), data: {"turbolinks" => false} %></td>
		</tr>
	</tbody>
	<% end %>
</table>
<%= paginate @movies %>