<h3>投稿詳細</h3>

<h4>
	<span class="label label-primary">作品名: <%= @movie.title %></span>
	<% unless @movie.category.nil?%>
		<span class="label label-primary">カテゴリー: <%= @movie.category.category %></span>
	<% end %>
</h4>

<div id="rate_<%= @movie.id %>" class="rate">
	<span>作品評価：<%= @movie.rating %></span>
</div>

<script>
document.addEventListener("turbolinks:load", function(){
	$('#rate_<%= @movie.id %>').raty({
	  size     : 36,
	  starHalf: '/assets/star-half.png',
	  starOff: '/assets/star-off.png',
	  starOn : '/assets/star-on.png',
	  readOnly: true,
	  half: true,
	  score: <%= @movie.rating %>
	});
})
</script>

<div class="panel panel-default">
	<div class="panel-heading">
		<%= @movie.subject %>
	</div>
	<div class="panel-body">
		<%= simple_format(@movie.body) %>
	</div>
</div>

<h4>コメント一覧</h4>
<div id="movie_comments">
	<%= render 'comments/movie_comments', movie: @movie %>
</div>

<!-- お気に入り機能 -->
<div id="Favorite_<%= @movie.id %>">
	<%= render 'favorites/movie_favorite', movie: @movie %>
</div>

<!-- コメント送信フォーム -->
<div>
	<% if user_signed_in? %>
		<%= form_for([@movie, @comment], data: { remote: true }) do |f| %>
			<%= f.text_area :comment, class: "form-control form-group",placeholder: "コメントをここに" %>
			<%= f.submit "送信する", class: "btn btn-lg pull-right" %>
		<% end %>
	<% end %>
</div>


<% if @movie.user == current_user %>
<%= link_to "編集", edit_movie_path(@movie), class: "btn btn-primary" %>
<%= link_to "削除", movie_path(@movie), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger" %>
<% end %>
