<h2>Mypage</h2>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg",size: '100x100' %>
<table>
	<tbody>
		<tr>
			<th>名前</th>
			<th><%= @user.name %></th>
		</tr>
		<tr>
			<th>自己紹介</th>
			<th><%= @user.introduction %></th>
		</tr>
		<tr>
			<th><%= link_to @user.following.count, following_user_path(@user) %> フォロー&emsp;</th>
			<th><%= link_to @user.followers.count, followers_user_path(@user) %> フォロワー</th>
		</tr>
		<tr>
			<th><%= link_to "お気に入り", user_favorites_path(@user) %></th>
		</tr>
	</tbody>
</table>

<% if @user.id == current_user.id %>
	<div>
		<%= link_to "登録情報編集", edit_user_path(@user) %>
	</div>
	<div>
		<%= link_to "本の感想を投稿", new_book_path, class: "btn btn-primary" %>
	</div>
	<div>
		<%= link_to "映画の感想を投稿", new_movie_path, class: "btn btn-primary" %>
	</div>
<% end %>

<%= render 'follow_form', user: @user %>
