<h2><%= @user.name %>さんのページ</h2>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg",size: '100x100' %>
<table>
	<tbody>
		<tr>
			<th>名前</th>
			<th><%= @user.name %></th>
		</tr>
		<tr>
			<th>自己紹介</th>
			<th><%= @user.introduction %></th>
		</tr>
		<tr>
			<th><%= link_to @user.following.count, following_user_path(@user), class: "follow_count_#{@user.id}" %> フォロー&emsp;</th>
			<th><%= link_to @user.followers.count, followers_user_path(@user), class: "follower_count_#{@user.id}" %> フォロワー</th>
		</tr>
		<tr>
			<th><%= link_to "お気に入り", user_favorites_path(@user) %></th>
		</tr>
	</tbody>
</table>

<% if user_signed_in? %>
	<% if @user.id == current_user.id %>
		<div>
			<%= link_to "登録情報編集", edit_user_path(@user) %>
		</div>
		<div class="mypage_btn">
			<%= link_to "本の感想を投稿", new_book_path, class: "btn btn-primary" %>
		</div>
		<div class="mypage_btn">
			<%= link_to "映像作品の感想を投稿", new_movie_path, class: "btn btn-primary" %>
		</div>
	<% end %>
<% end %>

<div class="follow_form_<%= @user.id %>">
	<%= render 'follow_form', user: @user %>
</div>

<%= link_to "投稿一覧",user_posts_user_path(@user) %>
