<h1><%= @title %></h1>
	<table class="table">

		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" ,size:'40x40' %></td>
				<td><%= link_to "#{user.name}", user_path(user.id) %></td>
				<td>
					<%= link_to "フォロー数:#{user.following.count}", following_user_path(user) %>
				</td>
				<td>
					<%= link_to "フォロワー数:#{user.followers.count}", followers_user_path(user) %>
				</td>
				<td>
					<% if user_signed_in? %>
						<% unless user == current_user %>
							<% if current_user.following?(user) %>
								<%= link_to "フォロー解除", relationship_path(current_user.active_relationships.find_by(followed_id: user.id)), method: :delete, class: "btn btn-primary" %>
							<% else %>
								<%= link_to 'フォローする', relationships_path(followed_id: user.id), method: :post %>
							<% end %>
						<% end %>
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>