<%= form_for @book do |f| %>
<div>
	<%= f.label :title %>
	<%= f.text_field :title%>
</div>
<div>
	<%= f.label :author %>
	<%= f.text_field :author%>
</div>

<div>
	<%= f.label :subject %>
	<%= f.text_field :subject%>
</div>

<div>
	<%= f.label :body %>
	<%= f.text_area :body %>
</div>
<div>
	<%= f.submit "投稿" %>
</div>
<% end %>