<h3>投稿詳細</h3>

<h4>
	<span class="label label-primary">作品名: <%= @book.title %></span>
	<span class="label label-primary">作者: <%= @book.author %></span>
	<% unless @book.category.nil?%>
		<span class="label label-primary">カテゴリー: <%= @book.category.category %></span>
	<% end %>
</h4>

<div id="rate_<%= @book.id %>" class="rate">
	<span>作品評価：<%= @book.rating %></span>
</div>

<script>
$('#rate_<%= @book.id %>').raty({
  size     : 36,
  starHalf: '/assets/star-half.png',
  starOff: '/assets/star-off.png',
  starOn : '/assets/star-on.png',
  readOnly: true,
  half: true,
  score: <%= @book.rating %>
});
</script>

<div class="panel panel-default">
	<div class="panel-heading">
		<%= @book.subject %>
	</div>
	<div class="panel-body">
		<%= simple_format(@book.body) %>
	</div>
</div>

<h4>コメント一覧</h4>
<div class="panel panel-default">
	<% @book.comments.each do |book_comment| %>
	<div class="panel">
		<%= link_to user_path(book_comment.user_id) do %>
			<%= attachment_image_tag book_comment.user, :profile_image, :fill, 40, 40, format: 'jpeg',fallback:"no_image.jpg",size:'40x40' %>
			<%= book_comment.user.name %>
		<% end %>

		<%= book_comment.comment %>
		<% if book_comment.user == current_user %>
			<%= link_to "削除",book_comment_path(book_id: @book.id, id: book_comment.id),method: :delete, class: "btn btn-danger" %>
		<% end %>
	</div>
	<% end %>
</div>

<!-- お気に入り機能 -->
<% if user_signed_in? %>
	<% if @book.favorited_by?(current_user) %>
		<%= link_to book_favorites_path(@book), method: :delete do %>
		<i class="glyphicon glyphicon-star" aria-hidden="true"></i>
		<%= @book.favorites.count %> 件のお気に入り
		<% end %>
	<% else %>
		<%= link_to book_favorites_path(@book), method: :post do %>
		<i class="glyphicon glyphicon-star-empty" aria-hidden="true"></i>
		<%= @book.favorites.count %> 件のお気に入り
		<% end %>
	<% end %>
<% else %>
	<p><i class="glyphicon glyphicon-star" aria-hidden="true"></i><%= @book.favorites.count %>件のお気に入り</p>
<% end %>

<!-- コメント送信フォーム -->
<div>
	<% if user_signed_in? %>
		<%= form_for [@book, @comment] do |f| %>
			<%= f.text_area :comment, class: "form-control form-group",placeholder: "コメントをここに" %>
			<%= f.submit "送信する", class: "btn btn-lg pull-right" %>
		<% end %>
	<% end %>
</div>

<% if @book.user == current_user %>
	<%= link_to "編集", edit_book_path(@book), class: "btn btn-primary" %>
	<%= link_to "削除", book_path(@book), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger" %>
<% end %>

