<h1>投稿詳細</h1>

<%= @book.title %>
<%= @book.author %>
<%= @book.subject %>
<%= @book.body %>

<% if @book.user == current_user %>
	<%= link_to "編集", edit_book_path(@book), class: "btn btn-primary" %>
	<%= link_to "削除", book_path(@book), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-primary" %>
<% end %>

