<!DOCTYPE html>
<html>
  <head>
    <title>YourFavorites</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="conteiner">
        <nav class="nav navbar-nav navbar-left">
          <span>YourFavorites</span>
        </nav>
        <nav>
        <% if user_signed_in? %>
          <%= link_to "Mypage", user_path(current_user) %>
          <%= link_to "logout", destroy_user_session_path, method: :delete %>
          <%= link_to "Books", books_path %>
          <%= link_to "Movies", movies_path %>
          <%#= link_to "support" %>
        <% else %>
          <%= link_to "sign_up", new_user_registration_path %>
          <%= link_to "login", new_user_session_path %>
          <%= link_to "Books", books_path %>
          <%= link_to "Movies", movies_path %>
          <%#= link_to "support" %>
        <% end %>
        </nav>
      </div>
    </header><!-- /header -->

    <%= flash[:notice] %>


    <%= yield %>
  </body>
</html>
